*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

@keyframes loading {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    background: #f1f1f1;
    animation: .5s linear loading;
}

header{
    padding: 25px;
    display: flex;
    gap: 50px;
}

.logo img{
    height: 50px;
}

.logo{
    transition: transform .2s ease;
}

.logo:hover{
    transform: scale(1.1) !important;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 50px;
}

.links a{
    text-decoration: none;
    color: #404040;
    font-family: 'Inter';
}

.links a:hover{
    text-decoration: underline;
}

.login-contact a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: #404040;
    font-family: 'Inter';
    transition: transform .2s ease;
}

.login-contact a:hover{
    transform: scale(1.05);
}

.login-contact{
    display: flex;
    align-items: center;
    gap: 25px;
}

.login-contact a img{
    height: 25px;
}   

.intro{
    display: flex;
}

.texto-intro{
    font-family: 'Inter';
    background: #ff8647;
    width: 25%;
    height: 400px;
    margin: auto;
    padding: 25px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px black;
}

.texto-intro h1{
    color: #f1f1f1;
    font-size: 50px;
}

.texto-intro p{
    color: #f1f1f1;
}

.select{
    font-family: 'Inter';
    padding: 25px;
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 50%;
    border-radius: 25px;
}

.case-type{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 0;
}

.case-type a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 1px solid lightgray;
    padding: 10px;
    text-decoration: none;
    color: #404040;
    border-radius: 100px;
    transition: background .2s ease, color .2s ease;
}

.case-type a:hover{
    background: #ff8647;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
}

.case-type input{
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #ff8647;
    color: #f1f1f1;
    font-weight: bold;
    font-family: 'Inter';
    transition: transform .2s ease, background .2s ease;
}

.case-type input:hover{
    background: #ff6414;
    transform: scale(1.05);
    cursor: pointer;
}

.case-template{
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 25px;
    background: #fff3ed;
    transition: transform .2s ease;
}

.case-template:hover{
    transform: scale(1.025);
}

.case-template p{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Inter';
    color: #404040;
}

.case-template img{
    height: 50px;
    filter: invert();
}

.info-cases{
    margin-top: 100px;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.case-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.image{
    background: #ff8647;
    width: 21%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.info-cases h1{
    font-family: 'Inter';
    margin-left: 50px;
}

.clients{
    background: #404040;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.clients p{
    color: #ff8647;
    font-family: 'Inter';
    font-size: 25px;
}

.clients h2{
    color: #f1f1f1;
    font-family: 'Inter';
    font-size: 50px;
}

.clients h1{
    color: #f1f1f1;
    font-size: 100px;
}

.story{
    border: 1px solid gray;
    padding: 25px;
    width: 25%;
    border-radius: 25px;
}

.story-grid{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 50px;
}

.story p{
    color: lightgray;
}

.story hr{
    background: #ff8647;
    height: 5px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.location{
    color: white !important;
    font-weight: bold;
}

.end-contact{
    padding: 100px;
    background: #ff6414;
    display: flex;
    justify-content: space-evenly;
}

.end-one{
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter';
}

.end-two{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f1f1f1;
    font-family: 'Inter';
    justify-content: center;
}

.end-button{
    display: flex;
    align-items: center;
}

.end-button button{
    background: #ff8647;
    color: #f1f1f1;
    font-family: 'Inter';
    border: none;
    padding: 25px;
    display: flex;
    cursor: pointer;
}

footer{
    background: #404040;
    padding: 100px;
    text-align: center;
    color: #f1f1f1;
    font-family: 'Inter';
}

footer hr{
    height: 10px;
    background: #4a4a4a;
}

/* Inicio de sesión */

.login{
    font-family: 'Inter';
}

.login h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.login-form{
    border: 1px solid lightgray;
    padding: 25px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 450px;
    margin-bottom: 50px;
}

.email{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.password{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.email input[type=email]{
    height: 50px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 25px;
    border: 1px solid lightgray;
    transition: transform .2s ease;
}

.email input[type=email]:hover{
    transform: scale(1.025);
}

.email input[type=email]:focus-visible{
    transform: scale(1.025);
}

.password input[type=password]{
    height: 50px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 25px;
    border: 1px solid lightgray;
    transition: transform .2s ease;
}

.password input[type=password]:hover{
    transform: scale(1.025);
}

.password input[type=password]:focus-visible{
    transform: scale(1.025);
}

.login-button{
    width: 50%;
    margin: auto;
    height: 50px;
    border: none;
    background: #ff6414;
    border-radius: 25px;
    color: #f1f1f1;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    transition: transform .2s ease, background .2s ease;
}

.login-button:hover{
    transform: scale(1.025);
    background: #ff8647;
}

.login-form p{
    margin: auto;
}

.login-form a{
    color: blue;
}

.nombre{
    display: flex;
    flex-direction: column;
}

.apellido{
    display: flex;
    flex-direction: column;
}

.nom-ape{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 75px;
}

.nom-ape input[type=text]{
    height: 50px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 25px;
    border: 1px solid lightgray;
    transition: transform .2s ease;
}

.nom-ape input[type=text]:hover{
    transform: scale(1.025);
}

.nom-ape input[type=text]:focus-visible{
    transform: scale(1.025);
}
